.available_section {
    height: 100%;
    // max-height: 1326px;
    width: 100vw;
    // margin: 0 auto;
    display: grid;
    grid-template-rows: 0.2fr 1.8fr;
    margin-top: 120px;

    &_info {
        width: 80%;
        position: relative;
        justify-self: center;
    }

    &_title {
        font-family: $font-family;
        color: $main-font-color;
        font-weight: 800;
        font-size: 48px;
        line-height: 125%;
    }

    &_accent {
        position: absolute;
        z-index: -1;
        top: 29%;
        left: 0;
    }

    &_desc {
        display: grid;
        grid-auto-flow: column;
        gap: 200px;
        align-items: center;
        margin-top: 20px;
    }

    &_text {
        font-family: $font-family;
        color: $descriptions-font-color;
        font-weight: 400;
        font-size: 16px;
        line-height: 187%;
    }

    &_btn {
        padding: 20px 25px;
        border-radius: 16px;
        border: 1px solid $red-accent-color;
        background-color: $red-accent-color;
        font-family: $font-family;
        color: white;
        font-weight: 700;
        font-size: 16px;
    }

    //card style start//
    .available_section_card_box {
        width: 80%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 25px 20px;
        margin-bottom: 120px;
        margin-top: 50px;
        justify-self: center;
    }

    .available_section_card {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-self: center;
    }

    .available_card_poster {
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .available_card_sticker {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: absolute;
        top: 80%;
        left: 5%;

    }

    .available_category_name {
        font-family: $font-family;
        color: white;
        font-weight: 500;
        font-size: 16px;
        line-height: 175%;
        text-align: center;
        padding: 6px 16px;
        background-color: $orange-accent-color;
        border: 1px solid $orange-accent-color;
        border-radius: 40px;
        cursor: pointer;

    }

    .available_category_rate {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: white;
        border: 1px solid white;
        border-radius: 30px;
        padding: 7px 12px;
        cursor: pointer;

        & img {
            padding-right: 5px;
        }

        & p {
            font-family: $font-family;
            color: $descriptions-font-color;
            font-weight: 500;
            font-size: 16px;
            line-height: 100%;
        }
    }

    .available_card_info {
        width: 90%;
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        align-items: center;
        margin: 0 auto;
        margin-top: 24px;
        margin-bottom: 24px;

    }

    .available_card_name {
        font-family: $font-family;
        color: $main-font-color;
        font-weight: 700;
        font-size: 17px;
        line-height: 150%;
    }

    .available_card_price {
        font-family: $font-family;
        color: $red-accent-color;
        font-weight: 500;
        font-size: 17px;
        line-height: 150%;
    }

    .available_card_contact {
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin: 0 auto;

        & img {
            padding-right: 6px;
        }

        & p {
            color: $descriptions-font-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 175%;
        }
    }

    .available_card_user {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 0 30px 70px 0 rgba(2, 13, 46, 0.04);
        background-color: rgba(103, 108, 123, 0.05);
        border-radius: 0 0 24px 24px;
        margin-top: 24px;
    }

    .availbale_card_user_info {
        display: flex;
        align-items: center;
        margin: 16px 0 16px 24px;
        cursor: pointer;

        & img {
            margin-right: 8px;
        }

    }

    .available_card_user_name {
        font-weight: 500;
        font-size: 16px;
        line-height: 100%;
        margin-bottom: 5px;
    }

    .available_card_user_date {
        color: $descriptions-font-color;
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
    }

    .available_card_arrow {
        width: 32px;
        height: 32px;
        margin-right: 24px;
    }

    .available_card_arrow:hover {
        cursor: pointer;
        fill: $red-accent-color;
    }

    .as_slider_container {
        display: none;
    }

    @media (min-width: 930px) and (max-width: 1300px) {
        .available_section {
            width: 80%;

            &_title {
                font-size: 50px;
            }

            &_accent {
                top: 21%;
            }

            &_desc {
                gap: 30px;
            }

            &_text {
                font-size: 15px;
            }

            &_btn {
                padding: 20px 25px;
                font-size: 15px;
            }
        }

        .available_section_card_box {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            margin-bottom: 150px;
            margin-top: 20px;
        }

        .available_category_name {
            font-size: 20px;
        }

        .available_category_rate p {
            font-size: 20px;
        }

        .available_card_sticker {
            top: 75%;
        }

        .available_card_info {
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            width: 95%;

        }

        .available_card_name {
            font-size: 20px;
        }

        .available_card_price {
            font-size: 20px;
        }

        .available_card_contact p {
            font-size: 20px;
        }

        .availbale_card_user_info img {
            width: 70px;
            height: 70px;
        }

        .available_card_user_name {
            font-size: 20px;
        }

        .available_card_user_date {
            font-size: 18px;
        }

        .available_card_arrow {
            width: 34px;
            height: 30px;
        }

        .available_card_arrow {
            width: 50px;
            height: 40px;
        }

        .as_slider_container {
            display: none;
        }

    }

    @media (max-width: 929px) {
        .available_section {
            width: 100%;
            grid-auto-flow: row;
        }


        &_title {
            font-size: 40px;
            text-align: center;
        }

        &_accent {
            top: 40px;
            left: 0;
            width: 90%;
            height: 26px;
        }

        &_desc {
            display: flex;
            flex-direction: column;
            gap: 0;
            margin-top: 30px;
        }

        &_text {
            font-size: 14px;
        }

        &_btn {
            padding: 15px 15px;
            font-size: 15px;
            margin-top: 15px;
        }

        .available_section_card_box {
            display: none;
        }

        .as_slider_container {
            width: 70%;
            height: 100%;
            display: inline-block;
            overflow: hidden;
            position: relative;
            margin: 0 auto;
            margin-top: 20px;
        }

        .as_slider_navigation {
            position: absolute;
            bottom: 20%;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            z-index: 4;
        }

        .as_bar {
            width: 20px;
            height: 20px;
            margin: 6px;
            cursor: pointer;
            background-color: $red-accent-color;
            opacity: 0.5;
            border-radius: 50%;
            transition: all 0.4s ease;
        }

        .as_bar:hover {
            opacity: 1;
            transform: scale(1.1);
        }

        input[name="as_r"] {
            position: absolute;
            visibility: hidden;
        }

        .as_slides {
            width: 300%;
            height: 100%;
            display: flex;
        }

        .as_slide {
            width: 100%;
            position: relative;
            transition: all 0.6s ease;
        }

        #as_r1:checked~.as_slide1 {
            transform: translate(0)
        }

        #as_r2:checked~.as_slide1 {
            transform: translate(-200%);
        }

        #as_r2:checked~.as_slide2 {
            transform: translate(-100%);
        }

        #as_r3:checked~.as_slide1 {
            transform: translate(-300%);
        }

        #as_r3:checked~.as_slide2 {
            transform: translate(-200%);
        }

        #as_r3:checked~.as_slide3 {
            transform: translate(-200%);
        }

        .available_card_sticker {
            top: 80%;
        }

        .available_card_info {
            flex-direction: column;
            align-items: start;
            justify-content: flex-start;
            width: 95%;

        }

        .available_card_name {
            font-size: 20px;
        }

        .available_card_price {
            font-size: 20px;
        }


    }
}