.build_section {
    width: 100vw;
    display: flex;
    justify-content: center;
    background-color: #fff5f7;
    padding-top: 214px;
    padding-bottom: 198px;
    overflow-x: hidden;
}

.build_section_main {
    width: 80%;
}

.build_section_main_text {
    color: #09153d;
    font-size: 60px;
    font-weight: 800;
}

.build_section_secondary_text {
    color: #676c7b;
    font-size: 16px;
    font-weight: 400;
    padding-top: 20px;
}

.rating {
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}

.rating_name {
    color: #09153d;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    gap: 5px;
}

.rating_comment {
    color: #676c7b;
    font-size: 16px;
    padding-top: 7px;
}

.rating_img {
    padding-top: 25px;
    cursor: pointer;
}

.phone_number {
    font-size: 16px;
    font-weight: 700;
    color: #ee1c47;
    margin-top: 70px;
    text-decoration: underline;
    max-width: 200px;
}

.phone_comment {
    color: #676c7b;
    font-weight: 500;
    font-size: 12px;
    padding-top: 10px;
}

.main_img {
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 40%;
}

.build_section_number {
    font-size: 48px;
    font-weight: 700;
}

.build_section_info {
    font-size: 16px;
    font-weight: 400;
    color: #676c7b;
}

.build_section_listings {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 3;
    top: 296px;
    left: 85%;
}

.build_section_places {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 3;
    top: 451px;
    left: 83%;
}

.build_section_people {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    z-index: 3;
    top: 606px;
    left: 84%;
}

.explore {
    width: 85%;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    z-index: 5;
    top: 870px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 13px 13px 50px #e8c7d6, -13px -13px 50px #ffefff;
}


.explore_card {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
}

.explore_card:hover {
    cursor: pointer;
    transform: scale(1.1);

}

.explore_card_words {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
}

.explore_card_words_title {
    font-size: 14px;
    font-weight: 400;
    color: $descriptions-font-color;
    display: flex;
    align-items: center;
}

.explore_card_words_info {
    font-size: 16px;
    font-weight: 600;
    color: $main-font-color;
}

.explore_button {
    padding: 20px 25px;
    background-color: #ee1c47;
    border-radius: 20px;
    color: white;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
}

.explore_button:hover {
    cursor: pointer;
    transform: scale(1.3);
    color: #ee1c47;
    background-color: $red-hover-header;
}

.test {
    background-color: rgba(255, 255, 255, 0.5);
    width: 90%;
    height: 210px;
    border: 1px solid transparent;
    border-radius: 20px;
    box-shadow: 13px 13px 50px #c1c1c1, -13px -13px 50px #ffffff;
    position: absolute;
    z-index: 4;
    top: 840px;
    left: 50%;
    transform: translateX(-50%);
}

.explore_phone {
    display: none;
}

@media (max-width: 1300px) {
    .explore_phone {
        display: none;
    }

    .main_img {
        position: absolute;
        z-index: 60;
        left: 55%;
        width: 500px;
    }

    .build_section_listings {
        display: none;
    }

    .build_section_places {
        display: none;
    }

    .build_section_people {
        display: none;
    }

    .explore_button:hover {
        cursor: pointer;
        transform: scale(1);
        color: #ee1c47;
        background-color: $red-hover-header;
    }

}

@media (max-width: 1210px) {
    .explore_phone {
        display: none;
    }

    .main_img {
        position: absolute;
        z-index: 60;
        left: 55%;
        width: 400px;
    }

    .build_section_main {
        width: 80%;
        position: relative;
        z-index: 61;
    }

    .build_section_listings {
        display: none;
    }

    .build_section_places {
        display: none;
    }

    .build_section_people {
        display: none;
    }

    .test {
        display: none;
    }

    .explore {
        width: 85%;
        height: 150px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        z-index: 5;
        top: 830px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 13px 13px 50px #e8c7d6, -13px -13px 50px #ffefff;

    }

    .explore_card_words_title {
        font-size: 12px;
        font-weight: 400;
        color: $descriptions-font-color;
    }

    .explore_card_words_info {
        font-size: 14px;
        font-weight: 600;
        color: $main-font-color;
    }

    .explore_card_words {
        gap: 1px;
    }

    .explore_button {
        padding: 10px 15px;
        background-color: #ee1c47;
        border-radius: 20px;
        color: white;
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        font-size: 14px;
    }

    .explore_button img {
        width: 30px;
    }

    .explore_card_img {
        width: 30px;
    }




}

@media (max-width: 1002px) {
    .main_img {
        display: none;
    }

    .build_section_listings {
        display: none;
    }

    .build_section_places {
        display: none;
    }

    .build_section_people {
        display: none;
    }

    .explore {
        display: none;

    }

    .explore_phone {
        display: block;
        padding-top: 40px;
    }

    .explore_cards_phone {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 15px;

    }

    .explore_card_phone {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
    }

    .explore_button {
        margin-top: 20px;
    }

    .explore_card_words_phone {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .explore_card_words_title_phone {
        font-size: 8px;
        font-weight: 400;
        color: $descriptions-font-color;
        display: flex;
        align-items: center;
    }

    .explore_card_words_info_phone {
        font-size: 10px;
        font-weight: 600;
        color: $main-font-color;
    }



}

@media (max-width: 610px) {
    .build_section_main_text {
        color: #09153d;
        font-size: 40px;
        font-weight: 800;
    }

    .build_section_secondary_text {
        color: #676c7b;
        font-size: 13px;
        font-weight: 400;
        padding-top: 20px;
    }

    .build_section {
        padding-top: 180px;
    }

    .rating {
        padding-top: 40px;
        display: flex;
        flex-direction: column;
    }

    .rating_name {
        color: #09153d;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        gap: 5px;
    }

    .rating_comment {
        color: #676c7b;
        font-size: 13px;
        padding-top: 7px;
    }

    .rating_img {
        padding-top: 20px;
        cursor: pointer;
        width: 150px;
    }

    .phone_number {
        font-size: 16px;
        font-weight: 700;
        color: #ee1c47;
        margin-top: 40px;
        text-decoration: underline;
        max-width: 200px;
    }

    .phone_comment {
        color: #676c7b;
        font-weight: 500;
        font-size: 12px;
        padding-top: 10px;
    }



}

@media (max-width: 457px) {
    .build_section_main_text {
        color: #09153d;
        font-size: 30px;
        font-weight: 800;
    }

    .build_section_secondary_text {
        color: #676c7b;
        font-size: 10px;
        font-weight: 400;
        padding-top: 20px;
    }

    .phone_comment {
        color: #676c7b;
        font-weight: 500;
        font-size: 10px;
        padding-top: 10px;
    }

    .phone_number {
        font-size: 12px;
        font-weight: 700;
        color: #ee1c47;
        margin-top: 40px;
        text-decoration: underline;
        max-width: 200px;
    }

    .explore_phone {
        padding-top: 40px;
    }

    .explore_cards_phone {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 15px;
    }

    .explore_card_phone {
        display: grid;
        grid-template-columns: 0.3fr 1fr;
        align-content: center;
        justify-self: center;
        cursor: pointer;

    }

    .explore_card_words_title_phone {
        font-size: 12;
    }

    .explore_card_words_info_phone {
        font-size: 14px;
    }

    .explore_card_img {
        width: 40px;
    }
}